{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block content %}

<h1 class="text-center mt-5 h5">Rezerwacja miejsca parkingowego - wybór daty</h1>
<ul class="text-muted mt-4 mx-auto" style="max-width: 800px;">
    <li>Aby zarezerwować miejsce parkingowe wybierz datę i godzinę, a następnie kliknij "Pokaż dostępne miejsca".</li>
    <li>Rezerwacja będzie obowiązywać w wybranym zakresie dat, każdego dnia w wybranym zakresie godzin. Przykładowo, rezerwacja w dniach 25.11.2025 - 26.11.2025, w godzinach 08:00 - 16:00 oznacza, że miejsce zostanie zarezerwowane 25.11.2025 w godzinach 08:00 - 16:00 oraz 26.11.2025 w godzinach 08:00 - 16:00.</li>
    <li>System nie obsługuje rezerwacji przechodzących przez godzinę 00:00. Jeśli chcesz dokonać rezerwacji, która przechodzi przez 00:00, podziel ją na dwie rezerwacje.</li>
</ul>

<form method="post" class="mx-auto mt-4" style="max-width: 400px;">
    {% csrf_token %}
    <input type="hidden" name="step" value="choose_date">

    {% for error in form.non_field_errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}

    <div class="my-3">
        <label class="form-label mb-1">{{ form.date_start.label_tag }}</label>
        {{ form.date_start }}
        {% for error in form.date_start.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="my-3">
        <label class="form-label mb-1">{{ form.date_end.label_tag }}</label>
        {{ form.date_end }}
        {% for error in form.date_end.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="my-3">
        <label class="form-label mb-1">{{ form.time_start.label_tag }}</label>
        {{ form.time_start }}
        {% for error in form.time_start.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="my-3">
        <label class="form-label mb-1">{{ form.time_end.label_tag }}</label>
        {{ form.time_end }}
        {% for error in form.time_end.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary w-100 mb-4">Pokaż dostępne miejsca</button>
</form>

{% endblock %}