{% extends "base.html" %}

{% block title %}Drzewo Czerwono-Czarne{% endblock %}

{% block content %}

<main class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="h3 text-center mb-3">Drzewo Czerwono-Czarne</h1>
    <p class="text-center mb-4 text-muted">
        Witaj w systemie rezerwacji miejsc parkingowych.<br>
        Aby dokonać rezerwacji zaloguj się lub zarejestruj, jeżeli nie masz jeszcze konta:
    </p>
    <div class="d-grid gap-2" style="max-width: 300px; width: 100%;">
        <a href="{% url 'sign_up' %}" class="btn btn-primary">Zarejestruj się</a>
        <a href="{% url 'login' %}" class="btn btn-secondary">Zaloguj się</a>
    </div>
</main>

{% endblock %}