{% extends "base.html" %}

{% block title %} Logowanie {% endblock %}

{% block content %}
<h2 class="text-center my-4">Logowanie</h2>

<form method="post" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}

    <div class="my-3">
       <label class="form-label mb-1">{{ form.username.label_tag }}</label>
        {{ form.username }}
        {% for error in form.username.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="my-3">
        <label class="form-label mb-1">{{ form.password.label_tag }}</label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary w-100">Zaloguj</button>
</form>

<p class="text-center mt-3">
    Nie masz jeszcze konta? <a href="{% url 'sign_up' %}">Zarejestruj się</a>
</p>
{% endblock %}